<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'default.html' %}

{% load custom_filters %} <!-- Подключаем новый файл с нашим фильтром -->
{% load custom_tags %} <!-- Подключаем новый файл с нашим тегом -->

<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все товары</h1>
<!-- Используя переданную из вьюхи переменную time_now а применив к ней фильтр (я б назвал форматом) date.
По назначению он очень похож на метод strftime у объекта datetime в Python - вывод времени в указанном формате-->
<!-- Вот так выглядело использование переменной и фильтра -->
<!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
<!-- А вот так мы используем наш тег-->
<h3>{% current_time '%b %d %Y' %}</h3>

<!-- если в переменной next_sale будет None, то выводится указанный в фильтре текст -->
<h3>{{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }}</h3>
<hr>
{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<form action="" method="get">
   {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
   {{ filterset.form.as_p }}
   {# Добавим кнопку отправки данных формы #}
   <input type="submit" value="Найти" />
</form>
<hr>

{# теперь будем проверять наличие прав, чтобы отобразить ссылку #}
    {% if perms.app.add_product %}
    <a href="{% url 'product_create' %}">Добавить товар</a>
{% endif %}


{% if products %}
    <table>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>количество</th>
            {# Условие получается составным. #}
            {% if perms.app.change_product or perms.app.delete_product %}
            <td>Действия</td>
            {% endif %}
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name|truncatewords:4 }}</td> <!--спецаильный фильтр truncatewords ограничивает вывод текста до указанного числа слов-->
            <td>{{ product.description|truncatechars:15 }}</td> <!--truncatechars ограничивает вывод до указанного числа символов-->
            <td>{{ product.category.name }}</td>
            <td>{{ product.price|currency:"rub" }}</td>
            <td>{{ product.quantity }}</td>

            <td>
                {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                {% if perms.app.change_product %}
                <a href="{% url 'product_update' pk=product.id %}">Изменить</a>
                {% endif %}
                {% if perms.app.delete_product %}
                <a href="{% url 'product_delete' product.id %}">Удалить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Товаров нет!</h2>
{% endif %}

{# Добавляем пагинацию на страницу #}
{# информация о предыдущих страницах #}
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{# информация о текущей странице #}
{{ page_obj.number }}

{# информация о следующих страницах #}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}